SETS IN PTYHON.
Set is an unordered collection datatypes, which is iterable, unchangeable, unindexable and does not have duplicate values. Set is based on data structure hash table.

In [1]:
set_var = set()
print (type(set_var))

<class 'set'>

In [2]:
set_var= {11,12,13,14,15,16,17}
print(set_var)

{16, 17, 11, 12, 13, 14, 15}

In [3]:
#Won't show the repeated value, will show only the number once.
var = {7,8,9,7,9,10,7,9,10,11}
print(var)

{7, 8, 9, 10, 11}

In [7]:
#In-Bulit Functions of set
var.add(110)  #Will add the mentioned number at the end of the list, wont take the same number again and again.
print(var)

{7, 8, 9, 10, 11, 110}

In [21]:
#Created a set of numbers. 
set1 = {11,12,13,14,15,16,17}
print(set1)
#Add 20 in the list.
set1.add(20)
print (set1)
#Created another list.
set2 = {10,30,40,50}
print(set2)

{16, 17, 11, 12, 13, 14, 15}
{16, 17, 20, 11, 12, 13, 14, 15}
{40, 10, 50, 30}
set()

In [22]:
#Perform functions of union, intersection and differnece. You must have an element in the intersection. (Common element in both the set.)
set_1={7,8,9,10,11}
set_2={10,11,12,13}

set_1.intersection_update(set_2)
print(set_1)

{10, 11}

In [26]:
set_0 = {12,13,14,15}
for x in set_0:
   print(x)
#Semi-Colon should be given, Space before print, will give all the numbers in vertical format of the data.

12
13
14
15